.questionDetailCard {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 100%;
    min-height: fit-content;
    height: 630px;
    width: 700px;
    max-height: 900px;
    border: 1px solid black;
    background-color: #ededed;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 30px;
    margin-top: 10vh;
}

.questionDetailCard_top {
    display: flex;
}

.questionDetailCard_profile {
    display: flex;
    flex-direction: column;
}

.questionDetailCard_profileserName {
    font-size: 23px;
    font-weight: 500;
}


.questionDetailCard_topInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;    
}

.questionDetailCard_topTitle {
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
}

.questionDetailCard_questionDescription {
    display: flex;
    justify-content: center
;}

.questionDetailCard_middle {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    width: 800px;
    max-width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    min-height: fit-content;
    margin-top: 20px;
    height: 80px;
}

.questionDetailCard_middleUpvotesArrow {
    height: 20px;
    width: 20px;
}

.questionDetailCard_middleUpvotes {
    display: flex;
}

.questionDetailCard_bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.questionDetailCard_bottomTag_1 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.questionDetailCard_bottomTag_2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.questionDetailCard_bottomTag_3 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}